<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form id="form">

            Hello from Facelets: #{newJSFManagedBean.stringValue}
            <br />
            <h:commandLink action="#{newJSFManagedBean.welcomePrimefaces()}" value="wwwelcome" id="welcomePrimefaces"/>
            <h:link outcome="welcomePrimefaces" value="Primefaces welcome page"  id="welcomePrimefaces2"/>
        </h:form>
    </h:body>
</html>

